<ion-header class="ion-no-border">
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button menu="side-drawer-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Sobre nosotros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="ion-text-center">
        <ion-icon name="logo-tux"></ion-icon>
    </div>
    <ion-label class="ion-text-justify">
        <p>
            <b>The Glaux Project</b> nació del crossover entre dos hermanos: un programador y un profesor. 
            Lo cierto es que mi hermano me comentaba algunos de los problemas de su profesión. Fue entonces 
            cuando vi que muchos pueden solucionarse utilizando tecnología.
        </p>
        <p>
            Con este proyecto los maestros pueden agilizar su labor, al tener todo tipo de actividades
            más a mano. Pero esto es solo la version <b>BETA</b>. En un futuro, la aplicación permitirá
            a los maestros publicar sus propios actividades, valorar las actividades de otros maestros,
            dejar comentarios, sugerir correcciones, etc. Las posibilidades son infinitas.
        </p>
        <p>
            Si tienes propuestas de mejora puedes contactar con nosotros directamente a través de <b>ejemplo@gmail.com</b>,
            o puedes <b>rellenar el formulario</b> disponible en la aplicación. Responderemos tan rápido como podamos.
        </p>
    </ion-label>
    <ion-grid class="ion-text-center">
        <ion-row>
            <ion-col>
                <ion-button (click)="presentModal()" expand="block" color="primary">
                    ¡Contacta!
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button expand="block" color="success" disabled>
                    ¡Dona!
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>