<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="side-drawer-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Sobre nosotros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="ion-text-center">
        <ion-icon name="help-outline" color="secondary"></ion-icon></div>
    <ion-label class="ion-text-justify">
        <p>
            <b>The Glaux Project</b> nace del crossover entre un programador y un profesor, hermanos, 
            que buscan ayudar a los maestros en su labor de educar.
        </p>
        <p>
            Con este proyecto, los maestros prodran agilizar su labor al tener todo tipo de actividades
            mucho mas a mano. Pero esto es solo una version <b>BETA</b>. En el futuro, la aplicacion permitira
            a los propios maestros publicar sus actividades, y valorar las aplicaciones de otros maestros,
            asi como dejar comentarios, sugerir correcciones, etc.
        </p>
        <p>
            Tenemos aun mas planes de mejora para la aplicacion, pero no podremos llevarlo a cabo sin un cierto apoyo.
            Como esto es una version <b>BETA</b> creemos que la mejor forma es a traves de donaciones. 
        </p>
    </ion-label>
    <div class="ion-text-center">
        <ion-button color="success" disabled>
            Donar
        </ion-button>
    </div>
</ion-content>