<ion-content *ngIf='activity'>
    <ion-item lines="none">
          <ion-label class='ion-text-center'>
            <h2>Actividad</h2>
            <h1>{{activity.methodology}}</h1>
        </ion-label>
        <ion-icon name="people-outline" slot="start"></ion-icon>
    </ion-item>
    <div class='ion-padding'>
        <p>Ambito: {{activity.type}}</p>
        <h3>Objetivos</h3>
        <ul>
            <li *ngFor='let objective of activity.objectives'>
                {{objective.description}}
            </li>
        </ul>
        <h3>Materiales</h3>
        <ul>
            <li *ngFor='let resource of activity.resources'>
                {{resource.description}}
            </li>
        </ul>
    </div>
</ion-content>