<ion-app>
  <ion-menu side="start" menuId="side-drawer-menu" contentId="menuContent">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title class="ion-text-center">The Glaux Project</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="ion-text-center">
          <img class="reduced-img" src='assets/icon/favicon.png'>
      </div>
      <ion-list class="ion-no-padding">
        <ion-menu-toggle auto-hide="true">
          <ion-item lines="none" [routerLink]="['/activity']" routerLinkActive="active-link">
            <ion-icon name="accessibility-outline" slot="start"></ion-icon>
            <ion-label>Actividades</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item lines="none" [routerLink]="['/about']" routerLinkActive="active-link">
            <ion-icon name="information-outline" slot="start"></ion-icon>
            <ion-label>Sobre nosotros</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menuContent"></ion-router-outlet>
</ion-app>
