.card-background-page{
    margin-left: 0;
    margin-right: 0;
    .card-img{
        filter: brightness(70%) opacity(30%) grayscale(60%);
    }
    .card{
        padding: 0;
        position: relative;
        text-align: center;
        box-shadow: none !important;
    }
    .card-title{
        font-size: 2.5rem;
        position: absolute;
        top: 40%;
        width: 100%;
        z-index: 10;
        color: var(--ion-color-tertiary-contrast);
        font-weight: bold;
    }
    .card-subtitle{
        text-align: end;
        font-size: 1.0rem;
        position: absolute;
        right: 5%;
        bottom: 5%;
        width: 100%;
        z-index: 10;
        color: var(--ion-color-tertiary-contrast);
    }
}