.card-background-page{
    margin-left: 0;
    margin-right: 0;
    .card-img{
        filter: brightness(70%) opacity(30%) grayscale(60%);
        max-height: 250px;
        width: auto;
    }
    .card{
        padding: 0;
        position: relative;
        text-align: center;
        box-shadow: none !important;
    }
    .card-title{
        font-family:  ParkLaneNF;
        font-size: 2.5rem;
        position: absolute;
        top: 30%;
        width: 100%;
        z-index: 10;
        color: var(--ion-color-tertiary-contrast);
        font-weight: bold;
    }
    .card-subtitle{
        font-family:  Coolvetica;
        text-align: end;
        font-size: 1.0rem;
        position: absolute;
        right: 5%;
        bottom: 5%;
        width: 100%;
        z-index: 10;
        color: var(--ion-color-tertiary-contrast);
    }
}

.color-primary{
    color: var(--ion-color-danger);
}

.color-secondary{
    color: var(--ion-color-primary);
}